@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    
    background-color: #261C2C;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #355c7d;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #355c7d;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    align-items: center;
}

.content .info h2{
    color: #226a80;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info{
    width: 50%;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: #fff;
    background: #226a80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.content .info-btn:hover{
    background: #0c4f60;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #111;
    font-size: 25px;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

.content .banner img{
   width: 600px;
   height:500px;
   margin-right: 40px;
}
footer {
    background: #262A53;
    height: 300px;
    width: auto;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-style: normal;
    font-size: 3 px;
    font-weight: 400;
    line-height: 3px;
}
.footer-content p {
    max-width: 500 px;
    margin: 10 px auto;
    line-height: 0px;
    font-size: small;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    line-height: 0px;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #ffff;
}
.social a i{
    font-size: 2px;
}
.socials a:hover i{
    color: #FFB830;
}

