@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    
    background-color: #261C2C;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #5C527F;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Anton', sans-serif;
}

header .navigation a{
    color: #5C527F;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-right: 30px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background:  white;
    color: #101820FF;
    transition: 0.5s;
}
header .navigation a:hover{
    background: #5C527F;
}
figure > img {
    margin: 0 auto;
    width: 50%;
    height: 40vh;
    position: relative;
    padding: 20px 20px;
    text-align: center;
    left: 450px;
}
h1 {
    color: #5C527F;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
p {
    color: #5C527F;
    text-align: justify;
    font-family: monospace;
    padding: 20px 100px;
    font-size: 20px;
}
h2 {
    color: #5C527F;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

h3{
    color: #5C527F;
    text-align: center;
}

.video {
    text-align: center;

}

.Home {
    position: relative;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    align-items: left;
    padding: 10px 50px;
}

figure .home {
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    max-width: 20px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 50px;
    transition: o.3s;
    transition-property: background;
}

footer {
    background: #262A53;
    height: 300px;
    width: auto;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4 {
    font-style: normal;
    font-size: 3 px;
    font-weight: 400;
    line-height: 3px;
}
.footer-content p1 {
    max-width: 500 px;
    margin: 50px auto;
    line-height: 0px;
    font-size: small;
    
}
.media-icons a{
    position: relative;
    color: #fff;
    font-size: 25px;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

